@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-black text-white antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

 p a {
  @apply hover:underline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}

.heading-text {
  background: linear-gradient(to bottom, #ffffff, #a6a6aa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-text {
  background: linear-gradient(to bottom, #ffffffa0, #787c80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


@layer components {
  .text-gray-gradient {
    @apply bg-gradient-to-b py-2 from-white via-white to-white/50 bg-clip-text text-transparent;
  }

  .text-gray {
    @apply bg-gradient-to-b from-white to-gray-200/50 bg-clip-text text-transparent;
  }

  .text-dark-gray {
    @apply bg-gradient-to-b from-gray-200/50 to-gray-200/40 bg-clip-text text-transparent;
  }

  .text-kodemono {
    @apply font-kodemono;
  }

  .text-outfit {
    @apply font-outfit;
  }

  .text-oxanium {
    @apply font-oxanium;
  }

  .text-russo {
    @apply font-russo;
  }

  .border-gray {
    @apply border border-[#181818];
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 90s linear infinite;
  min-width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 90s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 