@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #000000;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  height: calc(100% - 60px); /* Adjust based on the height of your viewToggle */
  overflow-y: auto;
}

.signalItem,
.signalItemCondensed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0a0a0a;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-image: linear-gradient(45deg, #181818, #121212);
  border-image-slice: 1;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.signalItem:hover,
.signalItemCondensed:hover {
  background-color: #121212;
  border-image: linear-gradient(45deg, #2a2a2a, #1a1a1a);
  border-color: transparent;
  border-image-slice: 1;
}

.signalDetails,
.signalDetailsCondensed {
  font-size: 12px;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  flex: 1;
}

.signalDetailsCondensed {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.timeTextContainer {
  display: flex;
  align-items: center;
  padding: 0.9rem;
  margin-left: auto;
}

.timeText {
  font-family: 'Oxanium', sans-serif;
  font-size: 0.75rem;
  color: #828385;
  text-align: right;
}

.signalTrade {
  display: flex;
  gap: 0.5rem;
}

.patternInfo,
.patternInfoCondensed {
  font-family: 'Russo One', sans-serif;
  font-size: 0.75rem;
  display: inline-block;
  padding: 0.1rem 0.3rem;
  background-color: #d1d5db;
  border: #747578;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.patternInfoCondensed {
  margin-bottom: 0;
  width: 50px;
  text-align: center;
}

.tradePrice,
.tradePriceCondensed {
  font-family: 'Oxanium', sans-serif;
  font-size: 1rem;
  color: #ffffffb3;
  font-weight: bold;
}

.tradePriceCondensed {
  font-size: 0.8rem;
  width: 70px;
  text-align: left;
}

.pairText,
.pairTextCondensed {
  font-family: 'Oxanium', sans-serif;
  font-size: 1.5rem;
  color: #ffffff7f;
  font-weight: bold;
}

.pairTextCondensed {
  font-size: 1rem;
  margin-right: 10px;
  width: 70px;
}

.signalStatus,
.signalStatusCondensed {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
  align-items: center;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.signalStatusCondensed {
  margin-top: 0;
  padding: 0;
}

.failCircle,
.successCircle,
.pulsatingCircle {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  transform: translateX(-50%) translateY(-50%);
  width: 6px;
  height: 6px;
  min-width: 6px;
  min-height: 6px;
  border-radius: 20px;
}

.failCircle {
  background-color: rgb(248 113 113);
}

.successCircle {
  background-color: rgb(153 246 228);
}

.pulsatingCircle {
  background-color: rgb(153 246 228);
  animation: pulsate 1s infinite;
}
